.countryName {
    display: block;
    margin: 10px;
    color: black;
}

.countryContinent{
    display: block;
    margin: 10px;
    color: black;
}

.containerCard {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
}

.countryContainer {
    display: inline-block;
    background-color: aqua;
    /* box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.6); */
    background-color: rgba(142, 154, 167, 0.5);
    border-radius: 15px;
}

.flag {
    
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-radius: 20px 20px;
}